.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.squirrel-name {
  text-align: center;
  font-size: 2em;
}

@font-face{
  font-family: yamagachi2050chromeital;
  src:url("../css/fonts/yamagachi2050chromeital.ttf");
}
