@font-face{
  font-family: bog;
  src:url("../css/fonts/bog.ttf");
}

.title{
 font-family: bog;
}

/* .linkbox {
  box-sizing: border-box;
  align-items:center;
  background: #050801;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 20vh;
} */

.abtn {
  color: #03e9f4;
  display: inline-block;
  font-size: 24px;
  letter-spacing: 4px;
  margin:20px 40px;
  padding: 24px 30px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

/* a:nth-child(1) {
  filter: hue-rotate();
}

a:nth-child() {
  filter: hue-rotate(290deg);
} */ 

a:hover{
  background: #03e9f4;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
  color: #050801;
} 

a span{
  display: block;
  position: absolute;
}

a span:nth-child(1) {
  animation: animate1 1s linear infinite;
  background: linear-gradient(90deg, transparent, #03e9f4);
  height: 2px;
  left:-100px;
  top:0;
  width:100%;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
    }
  }

  a span:nth-child(2) {
    animation: animate2 1s linear infinite;
    animation-delay: .25s;
    background: linear-gradient(180deg, transparent, #03e9f4);
    height: 100%;
    top: -100%;
    right:0;
    width: 2px;
  }

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
    }
  }

a span:nth-child(3) {
  animation: animate3 1s linear infinite;
  animation-delay: .5s;
  background: linear-gradient(270deg, transparent, #03e9f4);
  height: 2px;
  right:-100%;
  width: 100%;
  bottom: 0;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
    }
  } 

a span:nth-child(4) {
  animation: animate4 1s linear infinite;
  animation-delay: .5s;
  background: linear-gradient(270deg, transparent, #03e9f4);
  height: 100%;
  left:0;
  width: 2px;
  bottom: -100%;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
    }
  }