<link rel="stylesheet" href="~/css/navfont.css">

@model PartySquirrel.Models.Squirrel

<h1>Are you sure you want to delete this Party Animal?</h1>

@Html.DisplayName("Party Squirrel") : @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
<input type="submit" value="Delete" class="btn btn-outline-dark" />
}