<div class="footer">

<a href="https://myspace.com"><img class="sponsor" src="https://everything-pr.com/wp-content/uploads/2011/01/Myspace-everything-pr.gif" width="300" height="86"></a>
<a href="https://myspace.com"><img class="sponsor" src="https://everything-pr.com/wp-content/uploads/2011/01/Myspace-everything-pr.gif" width="300" height="86"></a>
<a href="https://myspace.com"><img class="sponsor" src="https://everything-pr.com/wp-content/uploads/2011/01/Myspace-everything-pr.gif" width="300" height="86"></a>
<a href="https://myspace.com"><img class="sponsor" src="https://everything-pr.com/wp-content/uploads/2011/01/Myspace-everything-pr.gif" width="300" height="86"></a>
<a href="https://myspace.com"><img class="sponsor" src="https://everything-pr.com/wp-content/uploads/2011/01/Myspace-everything-pr.gif" width="300" height="86"></a>
<a href="https://myspace.com"><img class="sponsor" src="https://everything-pr.com/wp-content/uploads/2011/01/Myspace-everything-pr.gif" width="300" height="86"></a>
<a href="https://myspace.com"><img class="sponsor" src="https://everything-pr.com/wp-content/uploads/2011/01/Myspace-everything-pr.gif" width="300" height="86"></a>
<a href="https://myspace.com"><img class="sponsor" src="https://everything-pr.com/wp-content/uploads/2011/01/Myspace-everything-pr.gif" width="300" height="86"></a>
</div>