<link rel="stylesheet" href="~/css/carousel.css">
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner full-width" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://images.pexels.com/photos/39484/squirrel-attention-ears-cute-39484.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
        <div class="carousel-caption d-md-block">
          <h2 class="display-4">Welcome to Party Squirrel!</h2>
          <p class="lead">Pick some squirrels to party with!</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/69447/squirrel-nature-outside-close-up-69447.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
        <div class="carousel-caption d-md-block">
          <h2 class="display-4">We have the best squirrels!</h2>
          <p class="lead">We only show the best quality party squirrels.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/3290203/pexels-photo-3290203.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
        <div class="carousel-caption d-md-block">
          <h2 class="display-4">View other's party squirrels!</h2>
          <p class="lead">Every user can add the squirrels they most want to party with.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<iframe style="display: none;" width="560" height="315" src="http://youtuberepeater.com/watch?v=5nL2ThdeacI&name=Lil+Nas+X+Panini+Lyrics#gsc.tab=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>