@{
    Layout = "_Layout";
}

<div id="splash">
    <h1>Party Squirrel</h1>
    <h2>Your source for party squirrels!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut urna sem, auctor ut dignissim quis, bibendum a massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas sit amet felis commodo, iaculis urna a, ultricies elit. Aenean iaculis hendrerit sapien, in pharetra risus auctor vel. Mauris et mi massa.</p>
</div>