@*iframe style="display: none;" width="560" height="315" src="http://youtuberepeater.com/watch?v=5nL2ThdeacI&name=Lil+Nas+X+Panini+Lyrics#gsc.tab=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Fugaz+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/carousel.css">
<link rel="stylesheet" href="~/css/cursor.css">
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner full-width" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://images.pexels.com/photos/3383028/pexels-photo-3383028.jpeg?cs=srgb&dl=pexels-ray-bilcliff-3383028.jpg&fm=jpg')">
        <div class="carousel-caption d-md-block">
          <h2 class="display1-4">PARTY SQUIRREL</h2>
          <p class="lead"></p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/4116056/pexels-photo-4116056.jpeg?cs=srgb&dl=pexels-tetyana-kovyrina-4116056.jpg&fm=jpg')">
        <div class="carousel-caption d-md-block">
        <h2 class="display2-4"> @*4 chipmunks 2 *@
          @* <h2 class="display2-4"> p a r t y s q u i r r e l *@
            @* </br></br> #$ *()</h2> *@
          <p class="lead"></p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/356547/pexels-photo-356547.jpeg?auto=compress&cs=tinysrgb&h=650&w=940')">
        <div class="carousel-caption d-md-block">
          <h2 class="display3-4">party squirrel</h2>
          <p class="lead3"></p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>
