@{
  Layout = "_Layout";
}

@using PartySquirrel.Models
@model List<PartySquirrel.Models.SquirrelUser>

@ViewBag.FirstName's Party</h1> 

@if (Model.Count == 0)
{
  <p>@ViewBag.FirstName hasn't added any party squirrels to their party!</p>
}
<ul>
@foreach(SquirrelUser squirrel in Model)
{
  <li>@squirrel.Squirrel.Image</li>
  <li>@Html.ActionLink($"{squirrel.Squirrel.Name}", "Details", "Squirrels", new { id = squirrel.Squirrel.SquirrelId })</li>
}
</ul>
