@{
  Layout = "_Layout";
}

@model List<PartySquirrel.Models.ApplicationUser>

<h1>Squirrel Parties</h1>

<ul>
  @foreach (ApplicationUser user in @Model)
  {
    <li>@Html.ActionLink($"{user.FirstName}'s Party", "Details", "Parties", new { id = user.Id })</li>
  }
</ul>