@{
  Layout = "_Layout";
}

@model List<PartySquirrel.Models.ApplicationUser>

<h1>Squirrel Parties</h1>


  @foreach (ApplicationUser user in @Model)
  {
    <h3>@Html.ActionLink($"{user.FirstName}'s Party", "Details", "Parties", new { id = user.Id })</h3>
  }
